.grid {
    display: flex;
    justify-content: space-evenly;

}
.graph {
    max-height: 400px;
    max-width: 400px;
}
.chart-container {
    margin: 10px;
    max-height: 250px;
    max-width: 250px;
    min-width: 150px;
    min-height: 150px;
}
#Analytics {
    width: 100%;
    padding-top: 56px;
    height: 100%;

}
.shift-content {
    padding-left: 240px;
}
.top-analytics {
    margin-top: 10px;
}
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px;
}