.login-page {
    background: url('../../assets/coverscene.png') no-repeat center center fixed;
    background-size: cover;
    height: 1000px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
}

.sign-in{
    background-color: #ebeafa;
    width: 360px;
    height: 580px;
    border-radius: 15px;

}
.sign-in form{
    padding: 20px 20px;

}

.label{
    color: #362db9;
    font-weight: 500;
}

.sign-in h1{
    font-weight: 900;
    padding: 20px;
    color: #4f46d2;


}

#sign-in-checkbox{
    margin-top: 10px;
}

.small-text{
    font-size: small;
    padding-left: 2px;
    color: #362db9;
    font-weight: bold
}


.sign-in-input1{
    margin-bottom: 30px;
    width: 100%;
}

.sign-in-input2{
    margin-bottom:75px;
    width:100%
}

.sign-in button{
    padding: 8.85px 13px;
    font-size: 20px;
    margin: 5px auto;
    width: 100%;
    height: 60px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 28px;
    border: 0;
    background: linear-gradient(215deg, #766fdc, #9d98e6);
}

.sign-in button:hover{
    transition: .6s;

    background: linear-gradient(215deg, #2a2390, #4f46d2);

}



