
.center {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    width: 100%;
    margin: 8px;
}
.hellotext {
    font-size: 1.4em;
}
.jc--center {
    justify-content: center;
}
.jc--space-between {
    justify-content: space-between;
}
.slider .first {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.slider .second {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.swipeable-views-container {
    margin-bottom: 20px;
    height: 90%;
}
#Main {
    padding-top: 50px;
    position: relative;
    height: 80vh;
}
.theform {
    display: flex;
    flex-wrap: wrap;
}
.full {
    width: 100%;
    padding: 8px;
}
.doctor-logo {
    height: auto;
    max-width: 250px;
}
.textField {
    margin-right: 10px !important;
    margin-left: 10px;
}